apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
  labels:
    app: my-app #every time add labels
spec:
  replicas: 2
  selector:
    matchLabels:
      app: apptolearn #my deployment will work with pods with label app:my-app
  template: #pod description
    metadata:
      labels:
        app: apptolearn #this label must be equal to the selector label above
    spec:
      containers:
        - name: apptolearnkube
          image: ag22222222/k8s:latest
          ports:
            - containerPort: 8080
# to run the deployment
# kubectl apply -f 07_create_deplofment.yaml

---
#add HorizontalPodAutoscaler
#it creates a HorizontalPodAutoscaler object that automatically scales the number of pods in a deployment based on CPU utilization.
#in antother version may be different parameters
apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: my-autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1 #version of api
    kind: Deployment #what to autoscale
    name: my-deployment #which deployment to autoscale
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 75 #add new pod when cpu usage is above 70%
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 80 #add new pod when memory usage is above 80%
